results/*
results/**
results/***
data/*
data/**
data/***
!data/
!data/input/
!data/input/**
.snakemake/*
snakemake/*
snakemake/**
tmp_rf_full_concat/**
*.pdf
.github/**
.vscode/***
.vscode/*
.vscode/**
